#rightCourseColumnContainer {
    background-color: white;
    width: 50%;
    height: 100vh;
    padding: 50px 30px;
    overflow: scroll;
    color: #3C3C3C;
}

#caseStudyTitle {
    font-size: 40px;
    margin-bottom: 10px;
}

#caseStudyParagraph {
    font-size: 14px;
}

#continueButtonContainer{
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 30px;
}