#coursesFoldContainer {
  margin-top: 85;
  height: 400px;
  background-image: url("coursesFoldBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coursesFoldContainerLeft {
  color: #E8E8E8;
  text-align: center;
  margin-right: 70px;
}

#coursesFoldContainerRight {
  color: #E8E8E8;
}

#profilePicture {
  height: 230px;
  width: 230px;
}

#usernameTitle {
  font-size: 33px;
}

#userEmail {
  font-size: 15px;
  font-weight: 200;
}

#courseFoldTitle {
  font-size: 50px;
}

#courseFoldParagraph {
  font-size: 15px;
  font-weight: 200;
  width: 600px;
}

@media only screen and (max-width: 900px) {
  #coursesFoldContainer {
    margin-top: 85;
    height: 600px;
    background-image: url("coursesFoldBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #coursesFoldContainerLeft {
    color: #E8E8E8;
    text-align: center;
    margin-right: 0px;
  }

  #coursesFoldContainerRight {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #coursesFoldContainer {
    margin-top: 85;
    height: 700px;
    background-image: url("coursesFoldBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #courseFoldParagraph {
    font-size: 15px;
    font-weight: 200;
    width: 400px;
  }

  #coursesFoldContainerLeft {
    color: #E8E8E8;
    text-align: center;
    margin-right: 0px;
  }

  #coursesFoldContainerRight {
    text-align: center;
  }
}